@font-face {
  font-family: PoppinsBold;
  src: url("../assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: PoppinsMedium;
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppinslight;
  src: url("../assets/fonts/Poppins-Light.ttf");
}

.about-us {
  text-align: center;
  padding-top: 50px;
}

.about-us h1 {
  font-family: PoppinsBold;
  color: #6132f1;
  font-size: 3rem;
  margin-top: 3rem;
}
.about-us h1 span {
  border-bottom: 2px solid #6132f1;
}
.company-history,
.mission-statement {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
}
.company-history-img,
.mission-statement-img {
  width: 50%;
}
.company-history-img img,
.mission-statement-img img {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 80%;
  height: 100%;
  border-radius: 5px;
}
.company-history-wrapper,
.mission-statement-wrapper {
  width: 50%;
}
.company-history-wrapper h2,
.mission-statement-wrapper h2 {
  text-align: right;
  font-family: PoppinsMedium;
  color: #030541;
  font-size: 2.8rem;
}
.company-history-wrapper p,
.mission-statement-wrapper p {
  text-align: right;
  font-family: Poppinslight;
  padding-top: 0.5rem;
  color: #616060;
  font-size: 1.2rem;
  text-align: justify;
}
@media only screen and (max-width: 992px) {
  .mission-statement {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .company-history {
    flex-direction: column;
    gap: 2rem;
  }
  .company-history-img,
  .mission-statement-img {
    width: 100%;
  }
  .company-history-img img,
  .mission-statement-img img {
    width: 100%;
  }
  .company-history-wrapper,
  .mission-statement-wrapper {
    width: 100%;
  }
  .company-history-wrapper h2,
  .mission-statement-wrapper h2 {
    text-align: center;
    font-size: 2rem;
  }
  .company-history-wrapper p,
  .mission-statement-wrapper p {
    font-size: 1.2rem;
    text-align: center;
  }
}
