.cards {
  margin-top: 100px;
  /* transition: transform 0.1s ease; */
  transition: transform 0.3s ease;
}
.heading {
  font-size: 0.9rem;
  font-weight: bold;
}
.cards:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* transform: scale(1); */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  transition: 1s;
  .heading {
    color: #00afef;
  }
}

.cards:hover .rotate-icon {
  transform: rotate(42deg);
  transition: transform 0.3s ease;
  margin-right: 10px;
  transition: 0.3s;
}
