/* contactForm.css */

.contactForm-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  
  .card-heading-service {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    padding-top: 30px;
  }
  
  .heading-underline-service {
    position: relative;
    display: inline-block;
  }
  .card-heading-service h1 span{
    border-bottom: 2px solid #6132f1;
  }
  .btn-container button:hover{
    animation: tada 1s;
  }

  
  .form-container {
    margin-top: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  
  .drop-down {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    min-height: 150px;
  }
  
  .btn-container {
    text-align: center;
  }
  
  button {
    cursor: pointer;
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #6132f1;
    color: #fff;
    border: none;
    border-radius: 10px !important;
    transition: background-color 0.3s ease;
  }
  