@font-face {
  font-family: PoppinsBold;
  src: url("../assets//fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../assets//fonts/Poppins-Medium.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.5px solid #a8cf45;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
  height: 6vw;
}

.left1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 50%; */
  /* margin-left: 50px; */
}

.right1 div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 1vw;
}

.left1 img {
  width: 15vw;
  padding-top: 10px;
  padding-left: 30px;
}

.right1 {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right1 div span {
  color: rgb(97, 96, 96);
  font-size: 1.1rem;
  font-family: Poppins;
  font-weight: 510;
  font-weight: bold;
  cursor: pointer;
}

.right1 div span:hover {
  color: #00afef;
}

.navbar-menu {
  display: none;
}

.num {
  color: #00afef !important;
  font-weight: bold;
}
.num:hover{
  animation: tada 1s;
  font-weight: bolder;
}

@media (max-width: 900px) {
  .right1 div span {
    font-size: .8rem;
  }
}

@media (max-width: 768px) {
  .right1 {
    display: none;
  }

  .navbar-menu {
    display: block;
  }

  .navbar1{
    height: 10vw !important;
  }

  .left1 {
    margin-left: -40px;
    width: 40%;
  }
  .left1 img{
    width: 25vw;
  }
  .left1 h2 {
    font-size: 3vw;
    margin-top: 10px;
  }
  .navbar1 {
    height: 9vw;
  }
}
