@font-face {
  font-family: PoppinsBold;
  src: url("../assets//fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../assets//fonts/Poppins-Medium.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.5px solid #6132f1;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
  height: 6vw;
}

.left1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 50%; */
  margin-left: 50px;
}

.right1 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1vw;
}

/* .left1 img{
    width: 5vw;
    height: 5vw;
} */

.left1 h2 {
  font-size: 1.9rem;
  font-family: PoppinsBold;
  color: #6132f1;
}

.right1 {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right1 div span {
  color: rgb(97, 96, 96);
  font-size: 1.2rem;
  font-family: Poppins;
  font-weight: 510;
  cursor: pointer;
}

.right1 div span:hover {
  color: #6132f1;
  font-weight: bold;
}

.navbar-menu {
  display: none;
}

.num {
  color: #6132f1 !important;
  font-weight: bold;
}
.num:hover{
  animation: tada 1s;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .right1 {
    display: none;
  }

  .navbar-menu {
    display: block;
  }

  .left1 {
    margin-left: 0px;
    width: 40%;
  }
  .left1 h2 {
    font-size: 3vw;
    margin-top: 10px;
  }
  .navbar1 {
    height: 9vw;
  }
}
